body{
    text-align: center;
}
.col-right{
    position: relative;
    height: 26px;
    width: 100%;
    text-align: right;
    padding-right: 15px;
}
nav{
    background-color: #242830;
    align-content: center;
}
.pull{
    display:none;
}
nav ul{
    width:70%;
    list-style: none;
    padding: 0;
}
nav ul li{
    color:darkgrey;
    display: block;
    margin-left:20px;
    margin-right: 20px;
    transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transitionl:all 0.5s ease;
    position:left;
}
nav ul li a { 
    color: rgba(255, 255, 255, 0.6); 
    display: block; 
    padding: 20px; 
    transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    padding-left: 0; 
    position: relative; 
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}
nav ul li a:hover,nav ul li a:focus{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.right-angle{
    position: absolute;
    right: 0px !important;
}
.right-angle:before{
    content: ">";
}
.nav-toggle{
    position: absolute;
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 16px;
    top:10px;
    right:10px;
}
.nav-toggle span,.nav-toggle span:before,.nav-toggle span:after{
    background-color: #353535;
    height:5px;
    width:35px;
    display: block;
    content:"";
    position: absolute;
}
.nav-toggle span:before{
    top:-10px;
}
.nav-toggle span:after{
    bottom: -10px;
}
.nav-toggle.active span{background-color: transparent;}
.nav-toggle.active span:before{
    top: 0px;
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
}
.nav-toggle.active span:after{
    top:0px;
    transform: rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
}
.container{
    margin:0px;
    width:100%;
    background-color: lightgrey;
    height:200px;
}
.name{
    float: left;
    padding: 30px;
    width: 200px;
}
.photo{
    float:left;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid grey;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    overflow: hidden;
}
img{
    height: 150px;
    width: 150px;
}
.contact{
    float:right;
    text-align: left;
}
.me{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
.me p{
    font-weight: 400;
    font-size: 17px;
    color: #7F8A90;
}
.me p.first{
    font-weight: 700;
    font-size: 18px;
    color: #7F8A90;
    margin: 10px 0px 15px;
}
.edu{
    position: relative;
    text-align: center;
    top:2em;
    background-color: azure;
    height:500px;
}
.edu-header{
    background-color:aquamarine;
    border-radius: 15px;
    width: 140px;
    height: cover;
    align-content: center;
    overflow: hidden;
    font-size: 30px;
}
span.divide-line {
    z-index:1;
    width: 3px;
    height: 450px;
    position: absolute;
    top: 39px;
    display: initial;
    background: none repeat scroll 0% 0% #D4D4D4;
}
.edu-content-right{
    width: 40%;
    text-align: left;
    position: absolute;
    top: 6em;
    right: 5.8em;
}
.edu-content-left{
    width: 40%;
    text-align: right;
    position: absolute;
    top: 6em;
    left: 5.8em;
}
.edu-content h4{
    font-size: 18px;
    font-weight: 800;
}

.edu-content-right:before {
    content: url(../images/sec-d.png)no-repeat 0px 0px;
    position: relative;
    left: -3.9em;
    top: 4em;
}

.edu-content-left:after{
    content: url(../images/sec-d.png)no-repeat 0px 0px;
    position: relative;
    left: 4em;
    top: -4em;   
}
.skill-container{
    height:400px;
}
.skill{
    margin: 4em;
    width:40%; 
    background-color:coral;
    float: left;
    text-align: left;
}
.hobby{
    margin: 10px;
}
.hobby p span{
    margin:30px;
    font-size: 40px;
}
